includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 7
    paths:
        - '%rootDir%/../../../src'
    excludes_analyse:
        - '%rootDir%/../../../src/Migrations/*'
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
