<?xml version="1.0"?>
<psalm totallyTyped="false" useDocblockTypes="true">

    <projectFiles>

        <directory name="src"/>

        <ignoreFiles>

            <file name="config/bootstrap.php"/>
            <file name="src/Kernel.php"/>
            <directory name="src/Migrations"/>
            <directory name="vendor"/>

        </ignoreFiles>

    </projectFiles>

    <issueHandlers>

        <MissingConstructor>
            <errorLevel type="suppress">
                <file name="src/Entity/TodoListItem.php" />
            </errorLevel>
        </MissingConstructor>

        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <file name="src/Entity/TodoList.php" />
            </errorLevel>
        </PropertyNotSetInConstructor>
        
    </issueHandlers>

</psalm>
