<?xml version="1.0"?>
<psalm totallyTyped="false" useDocblockTypes="true">

    <projectFiles>

        <directory name="src"/>

        <ignoreFiles>

            <file name="config/bootstrap.php"/>
            <file name="src/Kernel.php"/>
            <directory name="vendor"/>

        </ignoreFiles>

    </projectFiles>

</psalm>
